/* Root Variables */
:root {
    --base-font-size: 20px;
    --main-dark-color: #121212;
    --main-light-color: #e0e0e0;
    --contrast-dark-color: #222831;
    --contrast-light-color: #393e46;
    --text-border-color: #00adb5;
    --border-width: 2%;
    --inner-spacing: 4%;
}

/* Base Styles */
body {
    font-size: var(--base-font-size);
    font-family: 'Arial', sans-serif;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reusable Component Styles */
header, footer, main, nav, article, section, h1, h2, h3, p, li {
    border: var(--text-border-color) solid 1px;
    padding: var(--inner-spacing);
}

/* Header Styles */
header {
    position: relative;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    border-width: var(--border-width);
}

/* Navigation Styles */
nav.project-links {
    background-color: var(--contrast-dark-color);
}

nav.project-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

nav.project-links ul li {
    padding: 10px;
}

/* Project Link Styles with Images */
.project {
    display: block;
    position: relative;
    width: 200px; /* Set a specific width */
    height: 150px; /* Set a specific height */
    overflow: hidden;
    border-radius: 5px;
}

.project-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: scale(1.2);
    opacity: 0.7;
}

.project-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
    border-radius: 5px;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.project:hover .project-bg::before {
    opacity: 0;
}

.project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.project:hover .project-bg {
    transform: scale(1);
    opacity: 1;
}

.project:hover .project-text {
    opacity: 0;
}

/* Project Info Styles */
#project-info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--contrast-dark-color);
    color: var(--main-light-color);
    padding: var(--inner-spacing);
    box-sizing: border-box;
    border: var(--text-border-color) solid 1px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    margin-top: 10px;
}

#project-info h3, #project-info p {
    margin: 10px 0;
    padding: 0 25px;
    text-align: justify;
}

/* Footer Styles */
footer {
    font-size: 0.8em;
    text-align: center;
    padding: var(--inner-spacing);
    background-color: var(--contrast-dark-color);
    color: var(--main-light-color);
}

footer address {
    font-style: normal;
}

footer > nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

footer > nav li {
    padding: 0 10px;
}

/* Article Styles */
article {
    background-color: var(--contrast-dark-color);
    color: var(--main-light-color);
    margin: 10px 0;
    padding: var(--inner-spacing);
    border-radius: 5px;
}

article h3, article p {
    margin: 10px 0;
}

/* Resume Section Styles */
.resume {
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    padding: 20px;
    max-width: 1300px;
    margin: 40px auto;
}

.resume h2, .resume h3, .resume p, .resume ul, .resume li {
    color: var(--main-light-color); /* Ensuring text color is consistent */
}

.resume table, .resume td, .resume th {
    border: 1px solid var(--text-border-color);
}

.resume th, .resume td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.resume td {
    background-color: var(--contrast-dark-color);
}

.resume ul {
    list-style-type: square;
    padding-left: 20px;
}

.resume li {
    padding-bottom: 5px;
}
